<!--[if lt IE 9]>
    <div class="notification is-danger has-text-centered">
        <strong>You're using an outdated browser!</strong><br>
        Upgrade your browser if you want to use this application.
    </div>
<![endif]-->

<noscript>
    <div class="notification is-danger has-text-centered has-margin-bottom-large">
        <strong>JavaScript is disabled!</strong><br>
        Please activate JavaScript in the settings of your browser or use a browser which supports JavaScript.
    </div>
</noscript>