<div class="card {{ _has_margin_top ? 'has-margin-top-large' }}">
    <div class="card-header">
        <div class="card-header-icon">
            <span class="icon is-medium">
                <i class="{{ _icon }} fa-lg"></i>
            </span>
        </div>
        <div class="card-header-title">
            {{ _label }}
        </div>
    </div>
    <div class="card-content">

