{% extends 'base/extern.twig' %}



{% block content %}

    <hr class="has-background-grey-lighter">

    <p class="has-text-centered">
        {{ _text }}
    </p>

    <hr class="has-background-grey-lighter">

{% endblock %}