{% extends 'base/intern.twig' %}



{% block page_scripts %}
    <script>
        var directoryBrowserPurpose = 'ftp';
    </script>
{% endblock %}



{% block content %}

    {% include 'includes/card_start.twig' %}

        <form action="?page=user_ftp&action=add" method="post" autocomplete="off">
            <input type="hidden" name="submit" value="1">

            {{ forms.input_wrapped({
                'name': 'username',
                'type': 'text',
                'label': username,
                'value': _has_custom_names ? '' : autofill,
                'is_required': _has_custom_names ? true : false,
                'is_disabled': _has_custom_names ? false : true,
            }) }}

            {{ forms.input_wrapped({
                'name': 'description',
                'type': 'text',
                'label': description,
                'value': _description,
            }) }}

            {% include 'includes/form_browse_directory.twig' with {
                '_label': home_directory,
                '_help': home_directory_help,
                '_value': '/www/'
            }%}

            {% include 'includes/form_password.twig' %}

            {% include 'includes/cta.twig' with { '_back': { 'target': 'user_ftp' }, '_confirm': true } %}
        </form>

    {% include 'includes/card_end.twig' %}

{% endblock %}